body {
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.center-element {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 800%;
    margin-left: auto;
    margin-right: auto;
}